@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

body{
    background-color: #1a4146;
}
.App{

    background-color: #e8e0c8;
    border-radius: 15px;
    color: #1a4146;
    padding:1em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: all;
    
    
}

.ex{
    
    background-color: #e8e0c8;
    border-radius: 15px;
    padding:1em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: all;
    
    
}

.graph {
    width: 600px;
    height: 400px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 10px;
}
